@import '_bootstrap-reboot.min.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

$main: #0aa2bd;
$main2:#f86868;

* {
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.header {
    height: 100px;
    width: 100%;
    background-color: $main;
    &__title {
        font-size: 54px;
        line-height: 90px;
        padding-left: 50px;
        color: #fff;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: $main;
    &-copyright {
        color: #fff;
        font-size: 15px;
        line-height: 50px;
        text-align: center;
    }
}
.field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    border: 2px solid #000; 
    .square {
       border: 2px solid #000; 
       transition: 0.2s;
       position: relative;
       &:hover {
           background-color: #bff2ff;
       }
       .x {
           &::after, &::before {
                content: '';
                display: block;
                width: 80px;
                height: 10px;
                border-radius: 5px;
                background-color: $main;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
           }
           &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
           }
       }
       .o {
           &::after {
            content: '';
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 10px solid $main2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
           }
       }
    }
    .square-r {
        &:hover {
            background-color:#ffe6e6;
        }
    }
    .square-freezed {
        &:hover {
            background-color: #fff;
        }
    }
}
.players {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    color: $main;
    text-align: center;
    &-wrapper {
        position: relative;
    }
}
.players-r {
    left: auto;
    right: 200px;
    color: $main2;
}
.player-l, .player-r {
    font-size: 64px;
}
.start {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: calc(100% - 150px);
    background-color: #fff;
    .promt {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: $main;
    }
    .promt2 {
        color: $main2;
    }
    .input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 70px;
        border-radius: 35px;
        border: 2px solid $main;
        padding: 30px;
        font-size: 50px;
        text-align: center;
        color: $main;
        &:focus {
            outline: none;
        }
    }
    .input2 {
        border: 2px solid $main2;
        color: $main2;
    }
}
